/* ESTILO GERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
}

/* MAIN COM FLEX */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 20px;
    background-color: #fde4ec;
}

/* TEXTO */
.main-text {
    max-width: 400px;
}

.main-text h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.main-text p {
    font-size: 18px;
}

/* IMAGEM */
.main-image img {
    width: 250px;
    max-width: 250px;
    border-radius: 20px;
    padding: 100px;
}

/* SOBRE */
.about {
    padding: 70px 20px;
    text-align: center;
    background-color: #ffffff;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    max-width: 700px;
    margin: 0 auto 15px;
}

/* VALORES */
.values {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
    background-color: #fbeaf0;
}

.value-box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 220px;
    text-align: center;
}

.value-box h3 {
    color: #e91e63;
}

/* FOOTER */
.footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVO */
@media (max-width: 800px) {
    .main {
        flex-direction: column;
        text-align: center;
    }

    .values {
        flex-direction: column;
        align-items: center;
    }
}
